APP_NAME= "Arabic Legel Document"

ENGLISH_EMBEDDING="Qwen/Qwen3-Embedding-0.6B"

ARABIC_EMBEDDING="Omartificial-Intelligence-Space/Arabic-Triplet-Matryoshka-V2"

COLLECTION_NAME = "legel_document"
APP_NAME=ArabicLegalDocumentProject


COLLECTION_NAME=arabic_legal_documents

RAW_PDF=data/raw/civil_code.pdf
ARTICLES_JSON=data/processed/articles.json

VALIDATE_SCHEMA=true
ENSURE_ASCII=false
INDENT=2
